.footer {
	padding-top: clamp(50px, vw(100px), 100px);
	padding-bottom: 50px;
	background-color: rgba(53, 64, 70, 0.5);
	// .footer__container
	&__container {
		max-width: calc(1620px + 20px * 2);
	}
	// .footer__top
	&__top {
		display: grid;
		grid-template-columns: 1fr minmax(350px, 533px) 1fr;
		column-gap: 40px;
		transition: max-width var(--transitionLong);
		margin-bottom: clamp(50px, vw(100px), 100px);
		@include d {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 30px;
		}
		@include m {
			display: flex;
			flex-direction: column;
			justify-items: center;
			text-align: center;
			max-width: 85%;
			margin: 0 auto 50px;
		}
		@include sm {
			max-width: 100%;
		}
	}
	// .footer__block-logo
	&__block-logo {
		max-width: 352px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap: 24px;
		@include m {
			max-width: 100%;
		}
	}
	// .footer__logo
	&__logo {
		align-self: center;
		transition: color var(--transition);
		&:hover {
			@media (any-hover) {
				color: #23b123;
			}
		}
	}
	// .footer__form
	&__form,
	.form-footer {
		@include d {
			grid-row: 2/3;
			grid-column: 1/-1;
			justify-self: center;
		}

		// .form-footer__label
		&__label {
			display: block;
			max-width: 438px;
			margin-bottom: 24px;
			@include m {
				margin-bottom: clamp(16px, vwm(24px), 24px);
				max-width: 100%;
			}
		}
		// .form-footer__send
		&__send {
			position: relative;
		}
		// .form-footer__input
		&__input {
			display: block;
			width: 100%;
			min-height: clamp(60px, vwt(76px), 76px);
			padding-left: 25px;
			padding-right: 183px;
			border-radius: 10px;
			border: 1px solid var(--main-color);
			background: var(--main-color);
			font-size: inherit;
			font-weight: 500;
			line-height: 1;
			&::placeholder {
				color: var(--bg);
			}
		}
		// .form-footer__btn
		&__btn {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 6px;
			width: 163px;
			@include t {
				width: clamp(120px, vwt(163px), 163px);
			}
		}
	}
	// .footer__social
	&__social,
	.social {
		justify-self: end;
		display: flex;
		column-gap: 48px;
		@include m {
			max-width: 100%;
			margin: 0 auto;
		}
		// .social__title
		&__title {
			line-height: 1.2;
			font-size: 20px;
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
		// .social__list
		&__list {
			display: flex;
			column-gap: 16px;
		}
		// .social__link
		&__link {
			width: 48px;
			aspect-ratio: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			background-color: #fff;
			transition: background-color var(--transition);
			&:hover {
				@media (any-hover) {
					background-color: #23b123;
					.social__icon {
						color: #fff;
					}
				}
			}
			@include m {
				width: 38px;
			}
		}
		// .social__icon
		&__icon {
			color: #23b123;
			transition: color var(--transition);
			@include m {
				width: 26px;
				aspect-ratio: 1;
			}
		}
		// .social__number
		&__number {
			transition: color var(--transition);
			&:hover {
				@media (any-hover) {
					color: #23b123;
				}
			}
		}
	}
	// .footer__bottom
	&__bottom {
		border-top: 1px solid var(--main-color);
		padding-top: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 20px;
		@include t {
			flex-direction: column-reverse;
			row-gap: 30px;
		}
	}
	.footer {
		// .footer__list
		&__list {
			display: flex;
			column-gap: clamp(20px, vw(40px), 40px);
			flex-wrap: wrap;
			row-gap: 20px;
		}
		// .footer__link
		&__link {
			position: relative;
			@include hover;
		}
	}
}
