.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	transition: background-color 0.2s;
	&.header--scrolling {
		background-color: var(--bg);
	}
	@include t {
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			z-index: 200;
			background-color: var(--bg);
			transform: translate(100%);
			transition: transform var(--transition);
			margin-right: 5px;
		}
		.menu-active &::before {
			transform: translate(0);
		}
	}
	// .header__container
	&__container {
		max-width: calc(1620px + 20px * 2);
		display: flex;
		align-items: center;
		column-gap: 30px;
		min-height: clamp(90px, vw(180px), 180px);
		padding-top: 5px;
		transition: min-height var(--transition);
		.header.header--scrolling & {
			min-height: 90px;
		}
		@include t {
			flex-wrap: wrap;
			justify-content: space-between;
			row-gap: 30px;
		}
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 200;
		flex-shrink: 0;
		flex-basis: 146px;
		@include t {
			flex-basis: clamp(100px, vwt(146px), 146px);
			img {
				height: clamp(30px, vwt(43px), 43px);
			}
		}
	}
	// header__menu
	&__menu,
	.menu {
		flex-grow: 1;
		@include t {
			overflow-y: auto;
			position: fixed;
			z-index: 150;
			inset: 0;
			padding: 150px 0 30px;
			transform: translateX(100%);
			transition: transform 0.4s linear;
			background-color: var(--bg);
			&.menu-active {
				transform: translateX(0);
			}
		}
		// .menu__list
		&__list {
			display: flex;
			flex-wrap: wrap;
			column-gap: 44px;
			row-gap: 30px;
			margin-left: 463px;
			@media (max-width: 1660px) {
				justify-content: center;
				margin-left: 0;
			}
			@include t {
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: center;
				flex-direction: column;
				margin-bottom: 40px;
			}
		}
		// menu__item
		&__item {
			display: flex;
			align-items: center;
		}
		// menu__link
		&__link {
			padding-block: 7px;
			white-space: nowrap;
			position: relative;
			line-height: 1;
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: var(--main-color);
				transform: scale(0);
				transition: transform var(--transition);
			}
			&:hover::before {
				@media (any-hover) {
					transform: scale(1);
				}
			}
			@include t {
				font-size: 28px;
			}
		}
	}
	// .header__active
	&__active {
		display: flex;
		column-gap: 16px;
		position: relative;
		z-index: 200;
		@include t {
			flex-grow: 1;
			justify-content: flex-end;
		}
		@include sm {
			display: none;
		}
	}
	&__active--menu {
		display: none;
		@include sm {
			display: flex;
			justify-content: center;
		}
	}
	// .header__btn
	&__btn {
		width: 142px;
		@include m {
			width: clamp(120px, vwm(142px), 142px);
		}
	}
}

.burger-btn {
	display: none;
	@include t {
		position: relative;
		z-index: 200;
		display: block;
		width: 30px;
		height: 20px;
		background-color: transparent;
		border: 0;
		&:hover {
			@media (any-hover) {
				cursor: pointer;
			}
		}
		span,
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 0;
			width: 100%;
			height: 2px;
			background-color: #fff;
			transition: all 0.3s ease 0s;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - 1px);
		}
	}
	&.menu-active {
		span {
			width: 0;
		}
		&::before {
			top: calc(50% - 1px);
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - 1px);
			transform: rotate(45deg);
		}
	}
}
