.main {
	// .main__banner
	&__banner {
		padding-top: clamp(100px, vw(250px), 250px);
		padding-bottom: clamp(50px, vw(100px), 100px);
	}
}
.banner {
	// .banner__container
	&__container {
	}
	// .banner__text-block
	&__text-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: clamp(30px, vw(209px), 209px);
	}
	// .banner__title
	&__title {
		max-width: 923px;
		font-size: 70px;
		margin-bottom: 70px;
		@include t {
			font-size: clamp(32px, vwt(70px), 70px);
			margin-bottom: clamp(30px, vwt(70px), 70px);
		}
	}
	// .banner__text
	&__text {
		max-width: 725px;
		margin-bottom: 50px;
		@include t {
			margin-bottom: clamp(20px, vwt(50px), 50px);
		}
	}
	// .banner__form
	&__form {
		position: relative;
		z-index: -1;
	}
	// .banner__input
	&__input {
		width: 533px;
		min-height: 76px;
		padding-left: 25px;
		border-radius: 10px;
		border: 1px solid var(--main-color);
		background: var(--main-color);
		font-size: 18px;
		&::placeholder {
			color: var(--bg);
			font-size: 18px;
			font-weight: 500;
			line-height: 1;
		}
		@include t {
			width: clamp(300px, vwt(533px), 533px);
			min-height: clamp(48px, vwt(76px), 76px);
		}
		@include sm {
			width: 80vw;
		}
		@include xsm {
			width: calc(100vw - 20px);
		}
	}
	// .banner__btn
	&__btn {
		position: absolute;
		top: calc(50% - 32px);
		right: 6px;
		@include t {
			top: calc(50% - clamp(18px, vwt(32px), 32px));
		}
	}
	// .banner__swiper
	&__swiper.swiper {
		z-index: -1;
	}
	// .banner__list
	&__list.swiper-wrapper {
		align-items: center;
		@media (min-width: 1461px) {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			column-gap: 108px;
		}
	}
	// .banner__item
	&__item.swiper-slide {
	}
}
