.main {
	// .main__banner
	&__banner {
		padding-top: clamp(100px, vw(250px), 250px);
		padding-bottom: clamp(50px, vw(100px), 100px);
	}
	// .main__how
	&__how,
	&__pathway,
	&__why,
	&__what,
	&__app {
		padding-block: clamp(50px, vw(100px), 100px);
	}
}

.banner {
	// .banner__container
	&__container {
		position: relative;
	}
	// .banner__text-block
	&__text-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: clamp(30px, vw(209px), 209px);
	}
	// .banner__title
	&__title {
		max-width: 923px;
		font-size: 70px;
		margin-bottom: 70px;
		@include t {
			font-size: clamp(32px, vwt(70px), 70px);
			margin-bottom: clamp(30px, vwt(70px), 70px);
		}
	}
	// .banner__text
	&__text {
		max-width: 725px;
	}
	// .banner__form
	&__form {
		position: relative;
	}
	// .banner__input
	&__input {
		width: 533px;
		min-height: 76px;
		padding-left: 25px;
		padding-right: 183px;
		border-radius: 10px;
		border: 1px solid var(--main-color);
		background: var(--main-color);
		font-size: inherit;
		font-weight: 500;
		line-height: 1;
		&::placeholder {
			color: var(--bg);
		}
		@include t {
			width: clamp(350px, vwt(533px), 533px);
			min-height: clamp(60px, vwt(76px), 76px);
			padding-right: clamp(140px, vwt(183px), 183px);
		}
		@include sm {
			transition: width 0.2s linear;
			width: 80vw;
		}
		@include xsm {
			width: calc(100vw - 20px);
		}
	}
	// .banner__btn
	&__btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 6px;
		width: 163px;
		@include t {
			width: clamp(120px, vwt(163px), 163px);
		}
	}
	// .banner__swiper
	&__swiper.swiper {
		z-index: -1;
	}
	// .banner__list
	&__list.swiper-wrapper {
		align-items: center;
		@media (min-width: 1461px) {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			column-gap: 108px;
		}
	}
	// .banner__decor
	&__decor {
		position: absolute;
		z-index: -1;
		inset: 0;
		img {
			position: absolute;
		}
		@include t {
			display: none;
		}
	}
	// .banner__ellipse
	&__ellipse {
		top: 0;
		left: 20px;
		transform: translate(-71.96%, -78.11%);
		width: 585px;
		height: 585px;
	}
	// .banner__ellipse-2
	&__ellipse-2 {
		top: -28.03%;
		left: -21.88%;
		width: 585px;
		height: 585px;
	}
	/*
	// .banner__ellipse-S
	&__ellipse-S {
	}
	// .banner__ellipse-S-bg
	&__ellipse-S-bg {
	}
	// .banner__dollar
	&__dollar {
	}
	// .banner__star
	&__star {
	}
	// .banner__star-bg
	&__star-bg {
	}
	// .banner__baп
	&__baп {
	}
	// .banner__tabler
	&__tabler {
	}
	*/
}
.how {
	// .how__container
	&__container {
		display: grid;
		grid-template-columns: 40.42% 52.81%;
		justify-content: space-between;
		column-gap: 20px;
		@include t {
			grid-template-columns: 1fr;
			justify-items: center;
			row-gap: 30px;
		}
	}
	// .how__text-block
	&__text-block {
		@include t {
			display: grid;
			text-align: center;
		}
	}
	// .how__list
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 48px;
		max-width: 85.36%;
		@include d {
			max-width: 100%;
		}
		@include t {
			justify-self: center;
			row-gap: clamp(20px, vwt(48px), 48px);
		}
	}
	// .how__item
	&__item {
		display: grid;
		grid-template-columns: 110px 1fr;
		min-height: 110px;
		column-gap: 32px;
		@include d {
			grid-template-columns: clamp(70px, vw(110px), 110px) 1fr;
			column-gap: clamp(20px, vw(32px), 32px);
		}
		@include m {
			grid-template-columns: 1fr;
			justify-content: center;
			row-gap: 20px;
		}
		&::before {
			content: "";
			grid-row: span 2;
			width: 110px;
			aspect-ratio: 1/1;
			border-radius: 50%;
			background-color: rgba(0, 128, 0, 0.1);
			background-position: 50%;
			background-repeat: no-repeat;
			@include d {
				width: clamp(70px, vw(110px), 110px);
			}
			@include m {
				grid-row: 1/2;
				justify-self: center;
			}
		}
	}
	// .how__title-item
	&__title-item {
		font-size: 28px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 16px;
		@include m {
			font-size: clamp(22px, vwm(28px), 28px);
			grid-row: 2/3;
			margin-bottom: 0;
		}
	}
	// .how__text-item
	&__text-item {
		@include m {
			grid-row: 3/4;
		}
	}
	// .how__item--mobile
	&__item--mobile {
		&::before {
			background-image: url(../img/svg/how/mobile.svg);
		}
	}
	// .how__item--man
	&__item--man {
		&::before {
			background-image: url(../img/svg/how/man.svg);
		}
	}
	// .how__item--build
	&__item--build {
		&::before {
			background-image: url(../img/svg/how/build.svg);
		}
	}
	// .how__item--dollar
	&__item--dollar {
		&::before {
			background-image: url(../img/svg/how/dollar.svg);
		}
	}
}
.pathway {
	// .pathway__container
	&__container {
		display: grid;
		grid-template-columns: 52.81% 40.42%;
		justify-content: space-between;
		align-items: stretch;
		column-gap: 20px;
		@include t {
			grid-template-columns: 1fr;
			justify-items: center;
			row-gap: 30px;
		}
	}
	// .pathway__img
	&__img {
		@include t {
			order: 2;
		}
	}
	// .pathway__text-block
	&__text-block {
		@include t {
			order: 1;
			text-align: center;
		}
	}
	// .pathway__list
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
	}
	// .pathway__accordion
	&__accordion,
	.accordion {
		position: relative;
		background: rgba(255, 255, 255, 0.05);
		border-radius: 10px;
		transition: max-width var(--transitionLong);
		@include t {
			max-width: 70%;
			margin: 0 auto;
			font-size: clamp(18px, vwt(24px), 24px);
		}
		@include m {
			max-width: 85%;
		}
		@include sm {
			max-width: 100%;
		}
		// .accordion__btn
		&__btn {
			position: relative;
			width: 100%;
			font-size: 24px;
			border: 0;
			padding: 24px 65px 24px 30px;
			background: 0;
			text-align: left;
			transition: max-width var(--transitionLong);
			line-height: 1.2;
			&::before {
				content: "";
				position: absolute;
				top: calc(50% - 12px);
				right: 30px;
				width: 24px;
				aspect-ratio: 1/1;
				background: url(../img/svg/ico/arrow.svg) 50% no-repeat;
				transform: rotate(-90deg);
				transition: transform var(--transition);
				@include t {
					right: 15px;
				}
			}
			@include t {
				padding: 15px;
				padding-right: 40px;
			}
		}
		// .accordion__content
		&__content {
			transition: all var(--transitionLong);
			opacity: 0;
			overflow: hidden;
			max-height: 0;
			will-change: max-height;
			padding-inline: 30px;
			text-align: left;
			@include t {
				padding-inline: 15px;
			}
		}
	}
}
.accordion--active .accordion__btn {
	top: calc(50% - 15px);
}
.accordion--active .accordion__content {
	opacity: 1;
	padding-bottom: 24px;
}
.accordion--active .accordion__btn::before {
	top: calc(50% - 12px);
	transform: rotate(0);
}
.why {
	// .why__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 20px;
		@include t {
			flex-direction: column;
			row-gap: 30px;
		}
	}
	// .why__text-block
	&__text-block {
		flex-basis: 39.64%;
		@include t {
			width: 100%;
			text-align: center;
		}
	}
	// .why__list
	&__list {
		counter-reset: myCounter;
		list-style: none;
		margin-bottom: 48px;
		transition: max-width var(--transitionLong);
		@include t {
			max-width: 70%;
			margin: 0 auto;
			margin-bottom: clamp(30px, vwt(48px), 48px);
			font-size: clamp(18px, vwt(24px), 24px);
			text-align-last: left;
		}
		@include m {
			max-width: 85%;
		}
		@include sm {
			max-width: 100%;
		}
	}
	// .why__item-list
	&__item-list {
		min-height: 64px;
		font-size: 20px;
		font-weight: 500;
		line-height: 1;
		display: flex;
		align-items: center;
		text-align: left;
		&:not(:last-child) {
			margin-bottom: 48px;
			@include t {
				margin-bottom: clamp(30px, vwt(48px), 48px);
			}
		}
		&::before {
			counter-increment: myCounter;
			content: counter(myCounter);
			width: 64px;
			aspect-ratio: 1/1;
			border-radius: 50%;
			background-color: var(--bgContent);
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin-right: 50px;
			font-size: 36px;
			font-weight: 700;
			line-height: 1;
			@include t {
				margin-right: clamp(20px, vwt(50px), 50px);
			}
		}
	}
	// .why__btn
	&__btn {
		padding-inline: 55px;
		transition: width var(--transitionLong);
		@include t {
			padding-inline: clamp(30px, vwt(55px), 55px);
		}
		@include sm {
			width: 100%;
		}
	}
	// .why__img-block
	&__img-block {
		border-radius: 20px;
		transition: max-width var(--transitionLong);
		@include t {
			max-width: 70%;
		}
		@include m {
			max-width: 85%;
		}
		@include sm {
			max-width: 100%;
		}
		img {
			border-radius: 20px;
			object-fit: cover;
			@include t {
				height: clamp(300px, 46.47vw, 604px);
			}
		}
	}
}
.what {
	// .what__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .what__text-block
	&__text-block {
		text-align: center;
		margin-bottom: 48px;
		@include t {
			margin-bottom: clamp(20px, vwt(48px), 48px);
		}
	}
	// .what__text
	&__text {
		max-width: 563px;
		margin: 0 auto;
	}
	// .what__swiper
	&__swiper,
	.swiper {
		max-width: 100%;
		margin-bottom: 48px;
		// .swiper__slide
		&__slide,
		.swiper-slide {
			border-radius: 20px;
			background-color: var(--bgContent);
			display: flex;
			overflow: hidden;
			height: auto;
			@include t {
				flex-direction: column;
				row-gap: clamp(15px, vwt(30px), 30px);
			}
		}
		// .swiper__img
		&__img {
			flex-basis: 44%;
			@include t {
				flex-basis: auto;
				align-items: flex-start;
				max-height: clamp(200px, vwt(300px), 300px);
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 20px 0 0 20px;
				@include t {
					border-radius: 20px 20px 0 0;
				}
			}
		}
		// .swiper__body
		&__body {
			padding-block: clamp(15px, vw(32px), 32px);
		}
		// .swiper__text-block
		&__text-block {
			flex: 1 1 46%;
			display: flex;
			flex-direction: column;

			box-sizing: border-box;
			padding: clamp(15px, vw(32px), 32px);
			max-height: 377px;
			@include t {
				flex-basis: auto;
				max-height: clamp(200px, vwt(250px), 250px);
				padding-top: 0;
			}
		}
		// .swiper__text
		&__comment {
			flex-grow: 1;
			margin-bottom: 15px;
			overflow-y: auto;
			padding-right: 10px;
			@include m {
				line-height: 1.4;
			}
		}

		// .swiper__button
		&__button {
			top: 100%;
			margin-top: 0;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background:
				url(../img/svg/ico/arrow.svg) 50%/30px no-repeat,
				var(--bgContent);
			&::after {
				display: none;
			}
			@include t {
				display: none;
			}
		}
		// .swiper__button--left
		&__button--left {
			transform: translateY(-100%) rotate(90deg);
			left: 0;
		}
		&__button--right {
			transform: translateY(-100%) rotate(-90deg);
			right: 0;
		}
	}
	// .what__btn
	&__btn {
		width: 221px;
	}
}
.app {
	// .app__container
	&__container {
		border-radius: 20px;
		background: var(--bgContent);
		padding-block: 70px;
		@include t {
			padding-block: clamp(30px, vwt(70px), 70px);
		}
	}
	// .app__title
	&__title {
		max-width: 760px;
		margin: 0 auto;
		text-align: center;
	}
	// .app__active
	&__active {
		display: flex;
		justify-content: center;
		column-gap: 25px;
	}
}
