.main {
	// .main__banner
	&__banner {
		padding-top: clamp(100px, vw(250px), 250px);
		padding-bottom: clamp(50px, vw(100px), 100px);
	}
	// .main__how
	&__how,
	&__pathway {
		padding-block: clamp(50px, vw(100px), 100px);
	}
}

.banner {
	// .banner__container
	&__container {
		position: relative;
	}
	// .banner__text-block
	&__text-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: clamp(30px, vw(209px), 209px);
	}
	// .banner__title
	&__title {
		max-width: 923px;
		font-size: 70px;
		margin-bottom: 70px;
		@include t {
			font-size: clamp(32px, vwt(70px), 70px);
			margin-bottom: clamp(30px, vwt(70px), 70px);
		}
	}
	// .banner__text
	&__text {
		max-width: 725px;
		margin-bottom: 50px;
		@include t {
			margin-bottom: clamp(20px, vwt(50px), 50px);
		}
	}
	// .banner__form
	&__form {
		position: relative;
	}
	// .banner__input
	&__input {
		width: 533px;
		min-height: 76px;
		padding-left: 25px;
		border-radius: 10px;
		border: 1px solid var(--main-color);
		background: var(--main-color);
		font-size: 18px;
		&::placeholder {
			color: var(--bg);
			font-size: 18px;
			font-weight: 500;
			line-height: 1;
		}
		@include t {
			width: clamp(300px, vwt(533px), 533px);
			min-height: clamp(48px, vwt(76px), 76px);
		}
		@include sm {
			width: 80vw;
		}
		@include xsm {
			width: calc(100vw - 20px);
		}
	}
	// .banner__btn
	&__btn {
		position: absolute;
		top: calc(50% - 32px);
		right: 6px;
		@include t {
			top: calc(50% - clamp(18px, vwt(32px), 32px));
		}
	}
	// .banner__swiper
	&__swiper.swiper {
		z-index: -1;
	}
	// .banner__list
	&__list.swiper-wrapper {
		align-items: center;
		@media (min-width: 1461px) {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			column-gap: 108px;
		}
	}
	// .banner__decor
	&__decor {
		position: absolute;
		z-index: -1;
		inset: 0;
		img {
			position: absolute;
		}
		@include t {
			display: none;
		}
	}
	// .banner__ellipse
	&__ellipse {
		top: 0;
		left: 20px;
		transform: translate(-71.96%, -78.11%);
		width: 585px;
		height: 585px;
	}
	// .banner__ellipse-2
	&__ellipse-2 {
		top: -28.03%;
		left: -21.88%;
		width: 585px;
		height: 585px;
	}
	// .banner__ellipse-S
	&__ellipse-S {
	}
	// .banner__ellipse-S-bg
	&__ellipse-S-bg {
	}
	// .banner__dollar
	&__dollar {
	}
	// .banner__star
	&__star {
	}
	// .banner__star-bg
	&__star-bg {
	}
	// .banner__baп
	&__baп {
	}
	// .banner__tabler
	&__tabler {
	}
}

.how {
	// .how__container
	&__container {
		display: grid;
		grid-template-columns: 40.42% 52.81%;
		justify-content: space-between;
		column-gap: 20px;
		@include t {
			grid-template-columns: 1fr;
			justify-items: center;
			row-gap: 30px;
		}
	}
	// .how__text-block
	&__text-block {
		@include t {
			display: grid;
			text-align: center;
		}
	}
	// .how__list
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 48px;
		max-width: 85.36%;
		@include d {
			max-width: 100%;
		}
		@include t {
			justify-self: center;
			row-gap: clamp(20px, vwt(48px), 48px);
		}
	}
	// .how__item
	&__item {
		display: grid;
		grid-template-columns: 110px 1fr;
		min-height: 110px;
		column-gap: 32px;
		@include d {
			grid-template-columns: clamp(70px, vw(110px), 110px) 1fr;
			column-gap: clamp(20px, vw(32px), 32px);
		}
		@include m {
			grid-template-columns: 1fr;
			justify-content: center;
			row-gap: 20px;
		}
		&::before {
			content: "";
			grid-row: span 2;
			width: 110px;
			aspect-ratio: 1;
			border-radius: 50%;
			background-color: rgba(0, 128, 0, 0.1);
			background-position: 50%;
			background-repeat: no-repeat;
			@include d {
				width: clamp(70px, vw(110px), 110px);
			}
			@include m {
				grid-row: 1/2;
				justify-self: center;
			}
		}
	}
	// .how__title-item
	&__title-item {
		font-size: 28px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 16px;
		@include m {
			font-size: clamp(22px, vwm(28px), 28px);
			grid-row: 2/3;
			margin-bottom: 0;
		}
	}
	// .how__text-item
	&__text-item {
		@include m {
			grid-row: 3/4;
		}
	}
	// .how__item--mobile
	&__item--mobile {
		&::before {
			background-image: url(../img/svg/how/mobile.svg);
		}
	}
	// .how__item--man
	&__item--man {
		&::before {
			background-image: url(../img/svg/how/man.svg);
		}
	}
	// .how__item--build
	&__item--build {
		&::before {
			background-image: url(../img/svg/how/build.svg);
		}
	}
	// .how__item--dollar
	&__item--dollar {
		&::before {
			background-image: url(../img/svg/how/dollar.svg);
		}
	}
}
.pathway {
	// .pathway__container
	&__container {
		display: grid;
		grid-template-columns: 52.81% 40.42%;
		justify-content: space-between;
		align-items: stretch;
		column-gap: 20px;
		@include t {
			grid-template-columns: 1fr;
			justify-items: center;
			row-gap: 30px;
		}
	}
	// .pathway__img
	&__img {
		@include t {
			order: 2;
		}
	}
	// .pathway__text-block
	&__text-block {
		@include t {
			order: 1;
		}
	}
	// .pathway__title
	&__title {
	}
	// .pathway__text
	&__text {
	}
	// .pathway__list
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
	}
	// .pathway__accordion
	&__accordion,
	.accordion {
		// .accordion__btn
		&__btn {
			position: relative;
			text-align: left;
			width: 100%;
			font-size: 24px;
			border: 0;
			border-radius: 10px;
			padding: 24px 65px 24px 30px;
			background: rgba(255, 255, 255, 0.05);
			&::before {
				content: "";
				position: absolute;
				top: calc(50% - 15px);
				right: 30px;
				width: 24px;
				height: 24px;
				background: url(../img/svg/ico/arrow.svg) no-repeat;
				transform: rotate(-90deg);
				transition: all var(--transition);
			}
		}
		// .accordion__content
		&__content {
			border-radius: 10px;
			padding: 0;
			max-height: 0;
			visibility: hidden;
			opacity: 0;
			transition: all var(--transition);
		}
	}
}
.accordion--active .accordion__content {
	visibility: visible;
	opacity: 1;
	padding: 24px 30px;
	overflow-y: auto;
}
.accordion--active .accordion__btn::before {
	top: calc(50% - 12px);
	transform: rotate(0);
}
