$container: 1420px;

@mixin xsm {
	@media (max-width: 424.98px) {
		@content;
	}
}
@mixin sm {
	@media (max-width: 574.98px) {
		@content;
	}
}
@mixin m {
	@media (max-width: 767.98px) {
		@content;
	}
}
@mixin t {
	@media (max-width: 1023.98px) {
		@content;
	}
}
@mixin d {
	@media (max-width: $container) {
		@content;
	}
}
@mixin hover {
	&::before {
		@content;
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: var(--main-color);
		transform: scale(0);
		transition: transform var(--transition);
	}
	&:hover::before {
		@media (any-hover) {
			transform: scale(1);
		}
	}
}

:root {
	--bg: #263238;
	--bgContent: rgba(255, 255, 255, 0.05);
	--main-color: #fff;
	--second-color: #23b123;
	--transition: 0.3s linear;
	--transitionLong: 0.5s linear;
	--index: calc(1vw + 1vh);
	--font: "Spartan", "Helvetica Neue", Helvetica, sans-serif;
}

@function vw($n) {
	@return calc($n / $container * 100vw);
}
@function vwt($n) {
	@return calc($n / 1023.98px * 100vw);
}
@function vwm($n) {
	@return calc($n / 767.98px * 100vw);
}
html {
	scroll-padding-top: 40px;
}
.body {
	position: relative;
	overflow-x: clip;
	min-height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: var(--font);
	font-size: 18px;
	// font-size: calc(var(--index) * 1.5);
	font-weight: 400;
	line-height: 1.8;
	color: var(--main-color);
	background-color: var(--bg);
	@include m {
		font-size: clamp(16px, vwm(18px), 18px);
	}
	&.menu-active {
		overflow-y: hidden;

		@include t {
			padding-right: 4px;
		}
	}
}
/* запобігти скачку контента при появі полоси прокрутки
.body { padding: 0 calc(20px - (100vw - 100%)) 0 0; }*/
.wrapper {
	position: relative;
}
[class*="__container"] {
	max-width: calc($container + 20px * 2);
	margin: 0 auto;
	padding-inline: 20px;
	@include t {
		padding-inline: 10px;
	}
}
::-webkit-scrollbar {
	background-color: transparent;
	width: 7px;
	@include m {
		width: 4px;
	}
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--main-color);
}
* {
	// колір повзунка колір смужки прокрутки
	scrollbar-color: var(--main-color) transporent;
	scrollbar-width: thin;
}
svg *[fill] {
	fill: currentColor;
}
svg *[stroke] {
	stroke: currentColor;
}
.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 64px;
	border-radius: 10px;
	border: 1px solid var(--main-color);
	background-color: transparent;
	font-weight: 500;
	line-height: normal;
	white-space: nowrap;
	cursor: pointer;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		bottom: 30%;
		left: 10%;
		width: 80%;
		height: 1px;
		background-color: var(--main-color);
		transform: scale(0);
		transition: transform var(--transition);
	}
	&:hover::before {
		@media (any-hover) {
			transform: scale(1);
		}
	}
	@include d {
		min-height: clamp(50px, vw(64px), 64px);
	}
}
.btn--green {
	background-color: var(--second-color);
	border: 0;
}
.title {
	font-size: 64px;
	line-height: 1;
	font-weight: 700;
	&:not(:last-child) {
		margin-bottom: 32px;
	}
	@include d {
		font-size: clamp(30px, vw(64px), 64px);
	}
	&__span {
		color: var(--second-color);
	}
}
.text {
	&:not(:last-child) {
		margin-bottom: 48px;
		@include t {
			margin-bottom: clamp(20px, vwt(48px), 48px);
		}
	}
}
.img-block {
	display: flex;
	align-items: center;
	padding: 6%;
	border-radius: 20px;
	background: var(--bgContent);
	transition: max-width var(--transitionLong);
	@include t {
		max-width: 70%;
	}
	@include m {
		max-width: 85%;
	}
	@include sm {
		max-width: 100%;
	}
	img {
		border-radius: 20px;
		object-fit: cover;
		@include t {
			height: clamp(300px, 46.47vw, 604px);
		}
	}
}
